{:paths   ["src"]
 :deps    {com.wsscode/pathom3              {:git/url "https://github.com/wilkerlucio/pathom3"
                                             :sha     "4bd43904f9f996d5317f39718f2010816125bbdc"}
           com.wsscode/pathom               {:mvn/version "2.3.0-alpha17"}
           cheshire/cheshire                {:mvn/version "5.10.0"}
           org.clojure/clojure              {:mvn/version "1.10.0"}
           nubank/matcher-combinators       {:mvn/version "3.1.4"}
           lambdaisland/uri                 {:mvn/version "1.4.54"}
           ring/ring                        {:mvn/version "1.7.0"}
           hiccup/hiccup                    {:mvn/version "2.0.0-alpha2"}
           io.pedestal/pedestal.service     {:mvn/version "0.5.8"}
           io.pedestal/pedestal.log         {:mvn/version "0.5.8"}
           io.pedestal/pedestal.interceptor {:mvn/version "0.5.8"}
           io.pedestal/pedestal.route       {:mvn/version "0.5.8"}
           io.pedestal/pedestal.jetty       {:mvn/version "0.5.8"}
           metosin/reitit                   {:mvn/version "0.5.11"}
           metosin/malli                    {:mvn/version "0.2.1"}
           integrant/integrant              {:mvn/version "0.8.0"}
           org.hsqldb/hsqldb                {:mvn/version "2.5.1"}
           seancorfield/next.jdbc           {:mvn/version "1.1.613"}
           honeysql/honeysql                {:mvn/version "1.0.444"}}
 :aliases {:ip-weather {:exec-fn gesonel.core/main}}}
